 body {
    margin: 0; 
    padding: 0; 
    min-width: 100%!important;        
    font-family: "Open Sans", Times, serif;
}

.content { 
    width: 100%; 
    max-width: 600px;
}

  
.innerpadding {padding: 15px 30px 15px 30px;}

.borderbottom {border-bottom: 1px solid #f2eeed;}

.content {font-size: 16px; line-height: 22px;}

.button {text-align: center; font-size: 18px; font-family: sans-serif; font-weight: bold; padding: 0 30px 0 30px;}
.button a {color: #ffffff; text-decoration: none;}

