{% load inlinecss %}
{% inlinecss "users/email.css" %}
{% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

    <table width="100%" bgcolor="#fafbff" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td class="innerpadding">
                            <table width="100%" border="0" cellspacing="0">
                                <tr>
                                    <td class="content">
                                        Hello from {{ site_name }},
                                        <br><br>                
                                        You're receiving this e-mail because you have registered a new account at {{ site_ name }}.
                                        <br>
                                        <br>
                                        To confirm that this email address belongs to you, please click on the Sign Up button below.                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="innerpadding">
                            <table class="buttonwrapper" bgcolor="#e05443" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="button" height="45">
                                        <a href="{{ activate_url }}">Sign Up</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="innerpadding borderbottom">
                            <table width="100%" border="0" cellspacing="0">
                                    <td class="bodycopy">
                                        If the button does not work, please open the following link in your browser:<br>
                                        <a href="{{ activate_url }}">{{ activate_url }}</a>
                                        <br>
                                        <br>
                                        If you did not make this request, you can ignore this email. No {{ site_ name }} ID will be created without verification. 
                                        <br>
                                        <br>                
                                        {% endblocktrans %}{% endautoescape %}
                                        {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you from {{ site_name }}!
                                        <br>
                                        {{ site_domain }}{% endblocktrans %}    
                                    </td>
                                </tr>
                            </table>                                
                        </td>
                    </tr>
                </table>            
            </td>
        </tr>                        
    </table>


{% endinlinecss %}